<div fxLayout.md = "row" fxLayoutAlign="space-between center"  fxLayoutAlign="center" >
    <md-card>
        <md-card-header>
         
          <md-card-title>Product Name :{{prodVal.productName}}</md-card-title>
          <md-card-subtitle>Product Id: {{prodVal.productId}}</md-card-subtitle>
        </md-card-header>
        
        <md-card-content>
          <p>Price : Rs {{prodVal.price}}</p>
        </md-card-content>
        <button md-raised-button color="accent">View Details</button>
      </md-card>  
</div>
